.headerTextContainer{
    display: grid;
    background-color: rgba(91, 88, 88, 0.71) ;
    width: 50vw;
    margin: 8rem auto;
    border-radius: 5.625rem;
    overflow: auto;
    text-align: center;
    padding: 1.5rem;
}
.recipes-container{
    text-align: center;
    background-color: #C0C0C0;
    width: 100vw;
    border-radius: 3rem;
}

.food-container{
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 7rem;  
    margin: auto;
    padding: 2rem;  
}

.sectionTwoContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-weight: var(--fw-md);
    gap: 2rem;
    width: 80vw;
    margin: 10rem auto 4rem;
}


.card{
    display: grid;
    background: var(--clr-black);
    border-radius: 0 0 60px 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.register-invitation-cta{
    display: grid;
    width: 70vw;
    margin: 5rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    overflow: hidden;
    object-fit: cover;
}



.register{
    border-radius: 4.5rem;
    background-color: #000000;   
}

.register-invitation-content{
    display: grid;
    gap: 2rem;
    align-content: center;
    margin-left: 6rem;
}


.cta-app-container{
    display: flex;
    gap: 2rem;
    
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16rem;
}



.rice-container{
    display: grid;
    text-align: center;
    padding: 2.5rem;
}

.top-card{
    display: flex;
    background: var(--clr-main);
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1rem;

}


.register-container{
    display: grid;
    padding: 2.5rem;
    margin: 3rem auto;
    width: 70vw;
    border-radius: 4rem;
    background: hsla(0, 0%, 18%, 90%);
    overflow: auto;
    gap: 4rem;
    justify-content: center;
}


@media (max-width: 1294px){
       .register-invitation-cta{
        padding: 1rem;
        width: 90vw;
    }
}

@media (max-width: 767px) { 
    .register-invitation-content{
        margin: 0 1rem 2rem;
        text-align: center;
        align-items: center;
        align-content: center;
        order: 2;
        gap: 3rem;
    }




}

