.food-container{
    display: grid;
    width: 80vw;
    margin: 12rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6rem;
}


.card{
    width: 23rem;
    height: 29rem;
}

.card section {
    position: absolute;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .recipeFront{
    transform: perspective(500px) rotateY(0deg);
}

.card:hover .recipeFront{
    transform: perspective(500px) rotateY(180deg);
}

.card .recipeBack{
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .recipeBack{
    transform: perspective(500px) rotateY(360deg);
}



.recipeFront{
    display: flex;
    background: linear-gradient(to bottom, #D81616 15%, #DCDCDC 0%);
    align-items: center;
    justify-content: center;
    padding: 2rem 0.1rem ;
    border-radius: 0 0 60px 60px;
    width: 23rem;
    height: 29rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.recipeBack{
    display: grid;
    background: linear-gradient(to bottom, #D81616 15%, #DCDCDC 0%);
    align-items: center;
    justify-content: center;
    padding: 2rem 0.1rem ;
    border-radius: 0 0 60px 60px;
    width: 23rem;
    height: 29rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.subcribe{
    border-radius: 2rem;
    background: var(--clr-inner-bg);   
}

.subscribe-content{
    display: grid;
    align-content: center;
    margin-left: 3rem;
}


.cta-app-container{
    display: flex;
    gap: .5rem;
}

.recipes-container{
    text-align: center;
}

.rice-container{
    display: grid;
    text-align: center;
}
.rice-image{
    width: 219px;
    height: 178px;
    margin: auto;
}


@media (max-width: 768.98px) {
  
    .subscribe-content{
        margin: 0 1rem 2rem;
        text-align: center;
        order: 2;
    }
}