.food-container{
    display: grid;
    width: 80vw;
    margin: 5rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}
.image-behind{
    background: url(../../imgs/header.jpg);
    
}

.recipe{
    display: grid;
    background: rgba(216, 22, 22, 1);
    text-align: center;
    padding: 2rem 0.1rem ;
    border-radius: 2rem;
}

.subcribe{
    border-radius: 2rem;
    background: var(--clr-inner-bg);   
}

.subscribe-content{
    display: grid;
    align-content: center;
    margin-left: 3rem;
}


.cta-app-container{
    display: flex;
    gap: .5rem;
}

.recipes-container{
    text-align: center;
}
.rice-image{
    position: relative;
    width: 219px;
    height: 178px;
    margin: auto;
}


@media (max-width: 768.98px) {
  
    .subscribe-content{
        margin: 0 1rem 2rem;
        text-align: center;
        order: 2;
    }
}