.hero-container{
    background: url(../../imgs/header.jpg);
    margin: auto;
    background-size: cover;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    color: var(--clr-white);
    height: 507px;
    text-align: center;
    width: 1440px;
}