/* Modal 1 */
.boton-modal-uno {
    background-color: #D81616;
    padding: 1rem;
}
.boton-modal-uno label {
    background-color: #545454;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease;
    padding: 1rem;
}

.boton-modal-uno label:hover {
    background-color: #363636;
}

#btn-modal-uno {
    display: none;
}

#btn-modal-uno:checked ~ .container-modal {
    display: flex;
}

/* Modal 2 */
.boton-modal-dos {
    background-color: #D81616;
    padding: 1rem;
}
.boton-modal-dos label {
    background-color: #545454;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease;
    padding: 1rem;
}

.boton-modal-dos label:hover {
    background-color: #363636;
}

#btn-modal-dos {
    display: none;
}

#btn-modal-dos:checked ~ .container-modal {
    display: flex;
}

/* Continúa con el mismo patrón para los Modales 3 al 9 */

/* Botón genérico para abrir modales */
.boton-modal {
    background-color: #D81616;
    padding: 1rem;
}

.boton-modal label {
    background-color: #545454;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease;
    padding: 1rem;
}

.boton-modal label:hover {
    background-color: #363636;
}

#btn-modal {
    display: none;
}

/* Contenedor para modales */
.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked ~ .container-modal {
    display: flex;
}

/* Contenido del modal */
.content-modal {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #2D2D2D;
    color: var(--clr-white);
    border-radius: 0.5rem;
}

.content-modal h2 {
    margin-bottom: 15px;
}

content-modal p {
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

/* Botón para cerrar el modal */
content-modal .btn-close {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

content-modal .btn-close label {
    padding: 5px 8px;
    background-color: var(--clr-main);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

content-modal .btn-close label:hover {
    background-color: #ad1212;
}

/* Elemento para cerrar el modal haciendo clic en un área oscura */
.close-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estilos responsivos */
@media screen and (max-width: 800px) {
    .content-modal {
        width: 90%;
    }
}
