/* Estilos para la barra de navegación en pantallas grandes */
.top-nav {
    display: flex;
    align-items: center;
    background-color: var(--clr-main);
}

/* Estilos para el logotipo */
.logo {
    width: 4rem;
    height: 3.5rem;
    margin-left: 3rem;
}

/* Estilos para el título de navegación */
.nav-title {
    display: flex;
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--clr-white);
}

/* Estilos para la lista de navegación en pantallas grandes */
.nav-list {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

/* Estilos para los enlaces de la lista de navegación */
.nav-list-link {
    color: var(--clr-white);
    text-decoration: none;
    font-size: var(--fs-md);
}

/* Estilos para el botón de menú en dispositivos móviles */
.mobile-cb {
    display: none;
}

/* Estilos para el menú de navegación en dispositivos móviles (inicialmente oculto) */
@media (max-width: 768.98px) {
    .nav-list {
        display: grid;
        position: fixed;
        margin: 0;
        top: 0;
        right: -18rem;
        background: var(--clr-black-light);
        width: 30%;
        height: 100vh;
        align-content: center;
        z-index: 2;
        transition: right .35s;
        box-shadow: -0.1rem 0 0.5rem var(--clr-black);
        gap: 2.5rem;
        text-align: right;
        padding-right: 1rem;
    }

    /* Estilos para el botón de menú móvil */
    .mobile-btn {
        position: fixed;
        top: 4rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    /* Estilos para las barras del botón de menú móvil */
    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background: var(--clr-black);
        transition-duration: 0.25s;
    }

    .mobile-btn > span::before {
        content: "";
        top: -0.5rem;
    }

    .mobile-btn > span::after {
        content: "";
        top: 0.5rem;
    }

    /* Estilos para la casilla de verificación móvil (inicialmente oculta) */
    .mobile-cb {
        position: fixed;
        top: 3rem;
        right: 1.7rem;
        z-index: 4;
        opacity: 0;
        width: 2rem;
        height: 1.7rem;
        display: block;
    }

    /* Estilos para las barras del botón de menú móvil cuando la casilla está marcada (menú abierto) */
    .mobile-cb:checked + .mobile-btn > span {
        transform: rotate(45deg);
    }

    .mobile-cb:checked + .mobile-btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    .mobile-cb:checked + .mobile-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Estilos para el menú de navegación en dispositivos móviles cuando la casilla está marcada (menú abierto) */
    .mobile-cb:checked ~ .nav-list {
        right: 0;
    }
}
