.top-nav{
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
    background-color: rgba(216, 22, 22, 1);
    width: 1440px;
    height: 81px;
}


.logo{
    width: 64px;
    height: 56px;
    position: relative;
    left: 7rem;
}

.nav-title{
    position: relative;
    right: 35rem;
    font-size: 32px;
}

.nav-list{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3rem;
    list-style-type: none;
    margin-left: 44rem;
 
}

.nav-list-link{
    color: var(--clr-white);
    text-decoration: none;
    font-size: var(--fs-md);
}

.mobile-cb{
    display: none;
}

/*Section 2*/

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
    font-weight: var(--fw-md);
    padding: 7rem;
}

.card{
    box-shadow: 0px 8px 20px 13px var(--clr-black-shadow);
    border-radius: 68px;
    width: 300px;
    height: 302px;
    background-color:rgba(216, 22, 22, 1);
    display: grid;
}

.images-activity{
    width: 300px;
    height: 196px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    border-radius: 1.5rem  1.5rem 0 0;
}

.destinations-info{
    font-size: var(--fs-md);
    display: flex;
    margin: auto;
    font-size: 36px;
    color: white;
}




/*END OF Section 2*/

@media (max-width: 768.98px) {
    .nav-list{
        display: grid;
        position: fixed;
        margin: 0;
        top: 0;
        right: -18rem;
        background: var(--clr-black-light);
        width: 40%;
        height: 100vh;
        align-content: center;
        z-index: 2;
        transition: right .35s;
        box-shadow: -0.1REM 0 .5rem var(--clr-black);
        gap: 2.5rem;
        text-align: right;
        padding-right: 1rem;
    }

    .top-nav{
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .mobile-btn{
        position: fixed;
        top: 4rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 3;
    }

    .mobile-btn > span,
    .mobile-btn > span::before,
    .mobile-btn > span::after{
        display: block;
        position: absolute;
        width: 100%;
        height: .2rem;
        background: var(--clr-main);
        transition-duration: .25s;
    }

    .mobile-btn > span::before{
        content: "";
        top: -.5rem;
    }

    .mobile-btn > span::after{
        content: "";
        top: .5rem;
    }

    .mobile-cb{
        position: fixed;
        top: 3rem;
        right: 1.7rem;
        z-index: 4;
        opacity: 0;
        width: 2rem;
        height: 1.7rem;
        display: block;
    }

    .mobile-cb:checked + .mobile-btn > span{
        transform: rotate(45deg);
    }

    .mobile-cb:checked + .mobile-btn > span::before{
        top: 0;
        transform: rotate(0deg);
    }

    .mobile-cb:checked + .mobile-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }

    .mobile-cb:checked ~ .nav-list{
        right: 0;
        
    }

    
}