.headerTextContainer{
    background-color: rgba(35, 35, 35, 0.71) ;
    width: 832px;
    height: 260px;
    margin-top: 250px;
    margin-left: 500px;
    border-radius: 90px;
}

.hero-title{
    font-family: var(--ff-main);
    font-size: 64px;
    font-weight: var(--fw-bk);
    margin: 0 auto 2rem;
    top: 30px;
    position: relative;
}

.hero-text{
    font-size: 24px;
    margin: 0 auto 2rem;
    top: 20px;
    position: relative;
}

.recipe-title{
    font-size:  var(--fs-md);
    font-family: var(--ff-main);
    color: white;
    margin: 1rem 0 0;
}

.recipe-text{
    font-size: var(--fs-nm);
    color: white;
}

.recipes-title{
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-md), 1.875rem, var(--fs-lg));
    width: 25ch;
    margin: 1rem auto;
}

.recipe-name{
    margin: auto;
    position: relative;
    top: 10px;
    font-size: 32px;
}

.subscribe-title{
    font-size: clamp(2rem, 2.25rem, var(--fs-lg)) ;
    width: min(80%, 90%, 100%);
    margin: 0;
}

@media (max-width: 768.98px) {

    .subscribe-title{
        margin: auto;
    }
}