/* Definición de estilos para elementos con la clase .hero-title */
.hero-title {
    font-family: var(--ff-main);
    font-size: 2.5rem; 
    font-weight: var(--fw-bk); 
    display: block;
    padding: auto;
}

/* Definición de estilos para elementos con la clase .hero-text */
.hero-text {
    font-size: 1.4rem; 
}

/* Definición de estilos para elementos con la clase .sectionTwoText */
.sectionTwoText {
    font-size: var(--fs-md); 
    font-size: 2rem;
    color: var(--clr-white); 
    font-weight: bold; 
}

/* Definición de estilos para elementos con la clase .recipe-title */
.recipe-title {
    font-size: var(--fs-md);
    font-family: var(--ff-main);
    color: white; 
    margin: 1rem 0 0; 
}

/* Definición de estilos para elementos con la clase .recipe-text */
.recipe-text {
    font-size: var(--fs-nm); 
    color: var(--clr-white); 
}

/* Definición de estilos para elementos con la clase .recipes-title */
.recipes-title {
    font-family: var(--ff-main); 
    font-size: clamp(var(--fs-md), 1.875rem, var(--fs-lg)); 
    margin: 1rem auto; 
}

/* Definición de estilos para elementos con la clase .recipe-name */
.recipe-name {
    color: var(--clr-white); 
    font-weight: bold; 
    margin: auto; 
    font-size: 25px; 
    text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.5);
}

/* Estilos para el estado hover de elementos con la clase .recipe-name */
.recipe-name:hover {
    color: var(--clr-gray-txt); 
}

/* Definición de estilos para elementos con la clase .register-invitation-title */
.register-invitation-title {
    font-size: clamp(2rem, 2.25rem, var(--fs-lg)); 
    width: min(80%, 90%, 100%); 
    margin: 0; 
    color: var(--clr-white); 
}

/* Definición de estilos para elementos con la clase .register-welcome */
.register-welcome {
    margin: 2rem auto; 
    color: var(--clr-white); 
    font-family: var(--ff-main); 
    font-size: 4rem; 
}

/* Definición de estilos para elementos con la clase .history-title */
.history-title {
    margin: 1rem auto; 
    color: var(--clr-white); 
    font-family: var(--ff-main);
    font-size: 3rem; 
}

/* Definición de estilos para elementos con la clase .thanks-title */
.thanks-title {
    margin: 1rem auto; 
    color: var(--clr-white); 
    font-family: var(--ff-main); 
    font-size: 3rem; 
}

/* Definición de estilos para elementos con la clase .menuText */
.menuText {
    font-size: var(--fs-xl); 
    color: var(--clr-white); 
}

/* Definición de estilos para elementos con la clase .phras-text */
.phras-text {
    font-size: var(--fs-md);
    color: var(--clr-white);
}

/* Definición de estilos para elementos con la clase .menuTxtCategories */
.menuTxtCategories {
    font-size: 4rem; 
    text-decoration-line: overline; 
    text-shadow: 1px 1.5px 0px rgba(0, 0, 0, 0.5); 
}

/* Definición de estilos para elementos con la clase .priceInfo */
.priceInfo {
    font-size: 4rem; 
}

/* Definición de estilos para elementos con la clase .menu-decoration-text */
.menu-decoration-text {
    display: grid; 
    max-width: 80ch; 
    text-align: center; 
}

/* Definición de estilos para elementos con la clase .register-invitation-title en pantallas pequeñas (menos de 769px de ancho) */
@media (max-width: 768.98px) {
    .register-invitation-title {
        margin: auto; 
    }
}
