/* Estilos generales para elementos con la clase .btn */
.btn {
    display: grid; 
    align-items: center; 
    border-radius: 1.5rem; 
    padding: .5rem 2rem; 
    text-decoration: none; 
}


/* Estilos para botones con la clase .go-to-menu-btn */
.go-to-menu-btn {
    text-align: center; 
    background: rgba(29, 28, 28, 1); 
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5); 
    color: #FFFFFF; 
    font-size: 1.5rem; 
    margin-top: 1rem; 
    width: 14rem; 
    height: 3rem; 
    border-radius: 37px; 
}

/* Estilos de botón .go-to-menu-btn al pasar el ratón por encima */
.go-to-menu-btn:hover {
    background-color: var(--clr-main); 
}


/* Estilos para botones con la clase .register-invitation-btn */
.register-invitation-btn {
    text-align: center; 
    background: #DCDCDC; 
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5); 
    color: #000000; 
    font-size: 1.5rem; 
    font-weight: bold; 
    height: 3rem; 
    border-radius: 37px; 
    transition: background-color 0.3s; 
    cursor: pointer;
}

/* Estilos de botón .register-invitation-btn al pasar el ratón por encima */
.register-invitation-btn:hover {
    background-color: var(--clr-main); 
}



/* Estilos para botones con la clase .btn-price-modal */
.btn-price-modal {
    color: var(--clr-white);
    font-size: 2.5rem; 
    text-decoration: none; 
    font-weight: bold; 
}

/* Estilos de botón .btn-price-modal al pasar el ratón por encima */
.btn-price-modal:hover {
    color: #ad1212; 
}

/* Estilos para botones con la clase .btn-order-modal */
.btn-order-modal {
    background: var(--clr-main); 
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0); 
    color: var(--clr-white); 
    font-size: 1.5rem; 
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem; 
    transition: background-color 0.3s; 
    cursor: pointer; 
    width: fit-content; 
    text-decoration: none; 
}
/* Estilos de botón .btn-order-modal al pasar el ratón por encima */
.btn-order-modal:hover{
     background-color: #930f0f; 
}
/* Estilos para botones con la clase .btn-register */
.btn-register{
    text-align: center;
    background: var(--clr-black);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}
/* Estilos de botón .btn-register al pasar el ratón por encima */
.btn-register:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);  
}
/* Estilos para botones con la clase .btn-login */
.btn-login{
    text-align: center;
    background: var(--clr-black);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}
/* Estilos de botón .btn-login al pasar el ratón por encima */
.btn-login:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);  
}
/* Estilos para botones con la clase .btn-order-dish */
.btn-order-dish{
    background: var(--clr-main);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    cursor: pointer; 
    margin: auto;
}
/* Estilos de botón .btn-order-dish al pasar el ratón por encima */
.btn-order-dish:hover{
    background-color: #930f0f;
}