.btn{
    display: grid;
    align-items: center;
    border-radius: 1.5rem;
    padding: .5rem 2rem;
    text-decoration: none;
}


.go-to-menu-btn{
    text-align: center;
    background: rgba(29, 28, 28, 1);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 14rem;
    height: 3rem;
    border-radius: 37px;
}

.go-to-menu-btn:hover{
    background-color: var(--clr-main);
}


.register-invitation-btn{
    text-align: center;
    background: #DCDCDC;
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.register-invitation-btn:hover{
    background-color: var(--clr-main);
}


.btn-price-modal{
    color: var(--clr-white);
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
}

.btn-price-modal:hover{
    color: #ad1212;
}

.btn-order-modal{
    background: var(--clr-main);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0);
    color: var(--clr-white);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    text-decoration: none;
}

.btn-order-modal:hover{
     background-color: #930f0f;
}

.btn-register{
    text-align: center;
    background: var(--clr-black);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}

.btn-register:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);  
}

.btn-login{
    text-align: center;
    background: var(--clr-black);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}

.btn-login:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);  
}