.btn{
    display: grid;
    align-items: center;
    border-radius: 1.5rem;
    padding: .5rem 2rem;
    text-decoration: none;
}

.go-to-menu-btn{
    text-align: center;
    background: rgba(29, 28, 28, 1);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 14rem;
    height: 3rem;
    border-radius: 37px;
}

.go-to-menu-btn:hover{
    background-color: var(--clr-main);
}

.register-invitation-btn{
    text-align: center;
    background: #DCDCDC;
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-price-modal{
    color: var(--clr-white);
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: bold;
}
.btn-price-modal:hover{
    color: #ad1212;
}

.btn-order-modal{
    display: flex;
    text-align: center;
    background: var(--clr-main);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0);
    color: var(--clr-white);
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    text-decoration: none;
}

.btn-order-modal:hover{
     background-color: #ad1212;
}

.rice-image{
    width: 219px;
    height: 178px;
    margin: auto;
}

.register-invitation-btn:hover{
    background-color: var(--clr-main);
}


.recipe-thumb{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 3rem;
}

.recipe-image{
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    border-radius: 1rem;
    margin: 4rem auto 2.5rem;
    height: 18rem;
}



.register-invitation-image{
    display: block;
    width: 50%;
    margin-left: 50%;
    border-radius: 0 4.5rem 4.5rem 0;
}



.cart-card{
    width: 4rem;
    height: 4rem;
    cursor: pointer;    
    background: url(../../imgs/icons/carrito.svg);
    background-size: cover;
    background-position: center;
    border: none;
}


.bg-cart{
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
    transition: background-color 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    width: 2rem;
    height: 1rem;
    padding: 1rem;
}

.bg-cart:hover{
    background-color:#b0a5a5;
}


.btn-register{
    text-align: center;
    background: var(--clr-black);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}

.btn-register:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);  
}
.btn-login{
    text-align: center;
    background: var(--clr-black);
    box-shadow: 5px 5px 10px rgba(0, 0.5, 0.5, 0.5);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 37px;
    transition: background-color 0.3s;
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}

.btn-login:hover{
    background-color: var(--clr-main);
    color: var(--clr-white);  
}
.link-register{
    margin: auto;
    color: var(--clr-gray-txt);

}
.link-register:hover{
    color: var(--clr-main);
}
.link-login{
    margin: auto;
    color: var(--clr-gray-txt);

}
.link-login:hover{
    color: var(--clr-main);
}

.icon-persons{
    width: 4rem;
    height: 4rem;
    cursor: pointer;    
    border: none;
}
.btn-cancelOrder{

}
.btn-payOut{
    
}


@media (max-width: 768.98px) {


    .register-invitation-image{
        margin: auto;
        text-align: center;
        order: 2;
        border-radius: 0;
    }


}