/* Estilos para elementos con la clase .link-register */
.link-register {
    margin: auto; 
    color: var(--clr-gray-txt); 
}

/* Estilos para el estado hover de elementos con la clase .link-register */
.link-register:hover {
    color: var(--clr-main); 
}

/* Estilos para elementos con la clase .link-login */
.link-login {
    margin: auto; 
    color: var(--clr-gray-txt); 
}

/* Estilos para el estado hover de elementos con la clase .link-login */
.link-login:hover {
    color: var(--clr-main); 
}