/* Estilos para imágenes dentro de elementos con la clase .food-items */
.food-items img {
    position: relative; 
    width: 100%; 
    border-radius: 15px 15px 0 0;
}

/* Estilos para elementos con la clase .details */
.details {
    padding: 20px 10px; 
    display: grid; 
    grid-template-rows: auto 1fr 50px; 
    grid-row-gap: 15px; 
}

/* Estilos para elementos con la clase .details-sub */
.details-sub {
    display: grid;
    grid-template-columns: auto auto; 
}

/* Estilos para elementos h5 dentro de .details-sub */
.details-sub > h5 {
    font-weight: 600; 
    font-size: 18px; 
}

/* Estilos para elementos con la clase .price */
.price {
    text-align: right; 
}

/* Estilos para párrafos dentro de elementos con la clase .details */
.details > p {
    color: #6f6f6f; 
    font-size: 15px;
    line-height: 28px; 
    font-weight: 400; 
    align-self: stretch; 
}

/* Estilos para enlaces dentro de elementos con la clase .details */
.details > a {
    background-color: #cb202d; 
    border: none; 
    color: #ffffff; 
    font-size: 16px; 
    font-weight: 600; 
    border-radius: 5px; 
    width: 180px; 
    cursor: pointer; 
    text-decoration: none; 
    display: flex; 
    padding: 1rem; 
}
